header{
    text-align: center;
    background-color: blue;
    color: white;
}

.hs{
    background-color: cornflowerblue;
    float: left;
    width: 100%;
   height: auto;
    }

    .h1{
        float: left;
        padding-right: 100px;
    }
    .h2{
        float: left;
        padding-right: 100px;     
    }
    .h3{
        float: left;
        padding-right: 100px; 
    }
    .h4{
        float: left;
        padding-right: 100px; 
    }
    .h5{
        float: left;
        padding-right: 100px; 
    }.h6{
        float: left;
        padding-left: 100px;
    }
.imagenes{
    float: left;
    background-color: cyan;
}
.galeria{
    float: left;
    padding: 10px 15px;
}
.div{
    width: 100%;
    height: auto;
    background-color: darkgreen;
    padding:  20px;
    float: left;
}
.conte{
    padding: 10px 20px;
    float: left;
    
}
.caja1{
    margin-left: 20px;
    margin-right: 20px;
    float: left;
    background-color: darkgrey;
    width: 40px;
    height: 40px;
    padding: 40px 20px;
    border: 3px black ;
    font-size: 20;
}
.caja2{
    float: left;
    background-color: darkred;
    width: 40;
    height: 80;
    padding: 10px 20px ;
}
.caja3{
    margin-left: 20px;
    margin-right: 20px;
    width: 40px;
    height: 80px;
    background-color: dimgray;
    padding: 10px 20px ;
    float: left;
}
.caja4{
    float: left;
    text-align: center;
    background-color: chartreuse;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 20px;

}
.caja5{
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    background-color: darkblue;
    padding: 25px 60px;
}
.caja6{
    float: left;
    margin: 20px 20px;
    padding: 70px 90px;
    background-color: rgb(193, 0, 252);
}
.span1{
    text-align: center;
    color: red;
    padding: 20px 20px;
}
.span2{
    text-align: center;
    color: black;
}
.span3{
    text-align: center;
    color: brown;
}
.span4{
    text-align: center;
    color: yellow;
}
.span5{
    text-align: center;
    color: green;
}
.span6{
    text-align: center;
    color: blue;
}
.span{
    text-align: center;
}
.formulario{
    background-color: grey;
    width: 100%;
    height: auto;
    padding: 20px;
    float: left;
}
.formu{
    text-align: center;
}
.form{
    float: left;
    padding: 10px 10px;
    margin: 10px 10px;
}
.link{
    text-align: center;
    float: left;
    width: 100%;
    height: auto;
    background-color: yellow;
    padding: 80px 90px;
   
}
.listas{
    text-align: center;
    float: left;
    width: 100%;
    height: auto;
    background-color: slategray;
    padding: 60px 60px;
}
.lista{
    float: left;
}


